@use "src/shared/styles/kit";

.header {
  height: 60px;
  background: var(--yc-color-base-background);
  border-bottom: 1px solid var(--yc-color-base-generic);

  & > * {
    height: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    ul {
      display: flex;
      align-items: center;
      height: 100%;
      list-style: none;
      gap: 32px;
    }

    &_item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: var(--yc-color-text-primary);
      border-bottom: 3px solid transparent;
      transition: kit.$base-transition;

      &:hover {
        color: var(--yc-color-text-link);
      }
    }

    &_active {
      color: var(--yc-color-text-link);
      border-bottom: 3px solid var(--yc-color-text-link);
    }
  }
}

.user {
  cursor: pointer;
}
