@use "src/shared/styles/kit";

.yc-root {
  --yc-text-code-font-weight: 500;
  --yc-text-body-font-weight: 500;
}

.yc-button {
  font-weight: 600;
}

.yc-text_variant_display-1,
.yc-text_variant_header-2 {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 12px;
}

.yc-table__cell {
  white-space: pre-wrap;
}

.yc-user__info {
  @include kit.media-breakpoint-down(sm) {
    display: none !important;
  }
}

.yc-card {
  padding: 16px;
  background: var(--yc-color-base-background);
}

#root, body {
  background: var(--yc-color-base-generic);

  body[data-theme="dark"] & {
    background: #25242a;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  isolation: isolate;
}

input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}


button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type='checkbox'],
input[type='radio'] {
  padding: 0;
  box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  appearance: none;
}


textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
